page-home {
    #loginButton {
        align-content: center;
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: x-large;
        padding-top: 50%;
    }
    p {
        text-align: center;
        font-size: medium;
    }
}